#root {
  background-color: #788e92;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  margin: 2vw 2vw 1vw 2vw;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fffaf3;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  flex: 1;
  align-items: flex-start;
  min-height: 100vh;
}

.image {
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  flex:1;
}

.image img {
  max-width: 100%;
  min-width: 30vh;
}
.image2 {
  display: block;
  margin: 0;
}
.image2 img {
max-width: 100%;
  height: auto;
  vertical-align: top;
}

/*.image2 img {*/
  /*max-width: 50vh;*/
/*}*/

footer p {
  color : #fffaf3;
}
